<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevOps Engineer{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <style>
        main {
            padding-bottom: 60px; /* Добавлен нижний отступ */
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'education_skills' %}">Образование и навыки</a></li>
                <li><a href="{% url 'projects' %}">Pet-проекты</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 DevOps Engineer</p>
    </footer>
</body>
</html>
