{% extends 'main/base.html' %}
{% block title %}Образование и навыки{% endblock %}
{% block content %}
<h1>Образование и навыки</h1>
<h2>Образование:</h2>
<div>
    <h3>2018-2023 МГТУ им. Н. Э. Баумана</h3>
    <p>Э4 - кафедра холодильной и криогенной техники.</p>
</div>
<div>
    <h3>2023-2025 ИАТЭ НИЯУ МИФИ</h3>
    <p>ОИКС - Информационные системы и технологии</p>
</div>
<h2>Навыки:</h2>
<div>
    <ul>
        <li>Docker - multistage</li>
        <li>Linux - администрирование</li>
        <li>Bash + Python - написание скриптов</li>
        <li>Ansible + Puppet - удаленное администрирование</li>
        <li>Prometheus + Grafana - мониторинг</li>
    </ul>
</div>
{% endblock %}