{% extends 'main/base.html' %}
{% load cache %}
{% block title %}Главная{% endblock %}
{% block content %}
{% cache 900 home %}
<h1>Приветствую!</h1>
<p>Меня зовут Дима, и я начинающий DevOps инженер. В данный момент я работаю Linux Администратором.</p>
{% with main_photo_url=STATIC_URL|add:'static/main/main_photo.png' %}
    <center>
        <img src="{{ main_photo_url }}" alt="Фото" style="border-radius: 20%; width: 45%; height: 56%;">
    </center>
{% endwith %}
{% endcache %}
{% endblock %}
