{% extends 'main/base.html' %}
{% block title %}Pet-проекты{% endblock %}
{% block content %}
<h1>Pet-проекты</h1>
<ul>
    {% for project in projects %}
        <li style="display: flex; align-items: center;">
            <div>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                {% if project.github_link %}
                    <p><a href="{{ project.github_link }}" target="_blank">GitHub проекта</a></p>
                {% endif %}
            </div>
            {% if project.image %}
                <div style="margin-left: 20px;">
                    <img src="{{ project.image.url }}" alt="Проект изображение" class="rounded">
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}